.card {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: rgb(156, 112, 206);
    width: 315px;
    height: 482px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .card__image-body {
        background-color: rgb(78, 78, 141);
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }
}

.card__description {
    color: whitesmoke;
    padding: 10px;
}

.card__btn-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__btn {
    background-color: var(--default-color);
    border-radius: 25px;
    border: none;
    width: 120px;
    height: 40px;
    color: white;
    .btn__icon {
        margin-right: 7px;
    }
}

.btn--success {
    background-color: var(--success-color);
}
.btn--warning {
    background-color: var(--warning-color);
    color: black;
}
